
@{
    ViewData["Title"] = "ProductList";
    int count = 0;
}

@model List<ResultProductViewModel>

<div class="row">
    <div class="col-md-12">
        <h1 class="h3">Admin Film Listesi Paneli</h1>
        <hr>
        <a href="/Admin/ProductCreate" class="btn btn-primary btn-sm">Filim Ekle</a>
        <hr>
        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <td style="width:30px;">Id</td>
                    <td style="width:100px;">Resim</td>
                    <td>İsim</td>
                    <td style="width:20px;">Fiyat</td>
                    <td style="width:20px;">Anasayfa</td>
                    <td style="width:20px;">Onaylı</td>
                    <td style="width:180px;">İşlemler</td>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count > 0)
                {
                    @foreach (var item in Model)
                    {
                        count++;
                        <tr>
                            <td>@count</td>
                            <td><img src="~/img/@item.ImageUrl" width="80" height="80"></td>
                            <td>@item.Name</td>
                            <td>@item.Price ₺</td>
                            <td>
                                @if (item.IsHome)
                                {
                                    <i class="fas fa-check-circle"></i>
                                }
                                else
                                {
                                    <i class="fas fa-times-circle"></i>
                                }
                            </td>
                            <td>
                                @if (item.IsApproved)
                                {
                                    <i class="fas fa-check-circle"></i>
                                }
                                else
                                {
                                    <i class="fas fa-times-circle"></i>
                                }
                            </td>
                            <td>
                                <a href="/Admin/ProductEdit/@item.ProductId" class="btn btn-primary btn-sm mr-2">
                                    <i class="fas fa-pencil-alt">
                                    </i> Edit
                                </a>
                                <a href="/Admin/DeleteProduct/@item.ProductId" class="btn btn-danger btn-sm" style="display:inline;" id="DeleteBtn"
                                   onclick="return confirm('Silmek istediğinize emin misiniz?');">
                                    <i class="fas fa-trash">
                                    </i> Delete
                                </a>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <div class="alert alert-warning">
                        <h3>Kayıtlı Filim Yok</h3>
                    </div>
                }
            </tbody>
        </table>
    </div>
</div>