  <header>

          <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4">Movie App Shop </h1>
            <p class="lead">
                Popüler filmler ve TV dizileri
                Sizi burada görmek ne güzel! JustWatch ile Türkiye’de en sevdiðiniz filmleri ve TV dizilerini nereden izleyeceðinizi kolayca bulabilirsiniz.
                JustWatch basit ve etkili bir çözümdür: Aþaðýdaki Ýzleme Çubuðu’ndan en sevdiðiniz yayýn platformlarýný seçebilir ve Netflix, Amazon ve diðer yasal yayýn platformlarýndaki içeriklere bakabilirsiniz.
                Türkiye’deki en iyi online yayýnlara ulaþabilmeniz için bu film ve TV dizilerini popülerlik derecelerine göre düzenledik. Bu akþam internet üzerinden izleyebileceðiniz en iyi filmi bulmak için filtrelerimizi kullanýn. Ýster bir korku filmi veya romantik komedi, ister sadece Netflix üzerinden izleyebileceðiniz herhangi bir 4K içerik, ister çocuklarýnýzla hoþça vakit geçirmek için bir çocuk filmi ya da çocuk programý arýyor olun, filtrelerimiz internet üzerinden yasal olarak izleyebileceðiniz her tür film veya TV dizisini kolaylýkla arayýp bulmanýza yardýmcý olur.

                Ayrýca, burada en sevdiðiniz yayýn platformlarýnýn kataloglarýndaki yenilikleri de genel olarak görebilirsiniz.

            </p>
            </div>
          </div>

   </header>