<div class="card mt-3">
    <div class="card hedar text-center">
        <h5>
            Search/Arama
        </h5>
    </div>
    <div class="card-body">
        <form action="/search">
        <div class="form-group">
            <input name="q" class="form-control mr-2" type="search" placeholder="Aranacak Kelime" aria-label="Search">
        </div>
              
       <button class="btn btn-danger btn-sm btn-block" type="submit">Ara</button>
        </form>
    </div>

</div>


